# Виртуальное окружение
venv/
.env
__pycache__/
*.py[cod]

# Данные и результаты
*.mp4
*.flac
*.png
*.jpg
temp/
results/

# Веса моделей (обычно их не пушат, но если напарнику они нужны сразу — можно оставить)
# Если хочешь скрыть веса:
# weights/

# Системные файлы
.DS_Store
.vscode/
.idea/